__pycache__/
Emeric_Code/
Test_Code/
slr_dataset/
Ephemeris_Database/
orekit-data.zip
.env
Propagation_Data.pkl
Satellite_Data.pkl
tle.txt
Download_Satellite_Data_TEST.py
gpt3_1.grd
gpt3_5.grd
ecc_xyz.snx
SLRF2020_POS+VEL_2023.10.02.snx
#TODO.txt