.vscode/
__pycache__/
Emeric_Code/
Machine_Learning_Testing/
Satellite_Database/
slr_dataset/
Test_Code/

orekit-data.zip
.env
Propagation_Data.json
Metadata.json
tle.txt
gpt3_1.grd
gpt3_5.grd
ecc_xyz.snx
SLRF2020_POS+VEL_2023.10.02.snx
video.avi
video_short.avi
_TODO.txt