__pycache__/
Emeric_Code/
Test_Code/
slr_dataset/
Satellite_Database/
.vscode/
orekit-data.zip
.env
Propagation_Data.pkl
Propagation_Metadata.json
tle.txt
gpt3_1.grd
gpt3_5.grd
ecc_xyz.snx
SLRF2020_POS+VEL_2023.10.02.snx
video.avi
video_short.avi
_TODO.txt